{% extends "base.html" %}

{% block title %}bioinfx{% endblock %}

{% block content %}

    Whole genome sequences:
    <ul>
      <li>Gorilla</li>
      <li>Zebra fish</li>
      <li>Homo sapiens</li>
      <li>Anna's songbird</li>
      <li>Saccharomyces cerevisiae</li>
    </ul>

{% block subgroups %}
{% for sub in subgroups%}
<h4>{{ sub.name }}</h4>
    {% for org in sub.organisms %}
<h5>{{ org.name }}</h5>
<p>Common name: {{ org.common_name}}</p>
   {% endfor %}
{% endfor%}


{% endblock %}

{% endblock %}
